.newsletter {
    &__wrapper {
        background: url('../images/offer-bg.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 60px 0px;
        width: 100%;
        height: 300px;
        padding: 0 67px 0 33px;
        display: flex;
        justify-content: space-between;
    }
    &__image {
        height: 460px;
        width: 460px;
        background: url('../images/hamburger.png') no-repeat;
        background-size: cover;
        background-position: center;
        margin: -100px 0 0 0;
    }
    &__information {
        display: flex;
        flex-direction: column;
        max-width: 510px;
        padding-top: 50px;
    }
    &__title {
        color: #fff;
        margin-bottom: 15px;
    }
    &__text {
        margin-bottom: 30px;
    }
    &__email {
        position: relative;
    }
    &__input {
        width: 100%;
        height: 60px;
        font-family: 'ProductSans-Regular', sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        padding: 0 135px 0 20px;
        color: #CCCCCC;
        border-radius: 13px;
        overflow-x: hidden;
        border: none;
        &::placeholder {
            font-family: 'ProductSans-Regular', sans-serif;
            font-weight: 400;
            font-size: 13px;
            line-height: 19px;
            color: #CCCCCC;
        }
    }
    &__button {
        position: absolute;
        top: 5px;
        right: 5px;
        text-transform: uppercase;
        border: 1px solid #F16214;
        padding: 12px 21px;
        font-size: 16px;
        line-height: 24px;
        border-radius: 13px;
        &:hover {
            border: 1px solid #fff;
        }
    }
}
